<div id="carousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
            <img src="images/power_comiccon.png" alt="carousel" width="100%">
            <div class="carousel-caption">
              <h1 class="shadow5">Design</h1>
            </div>
        </div>

        <div class="item">
            <img src="images/web_design.png" alt="carousel" width="100%">
            <div class="carousel-caption">
              <h1 class="shadow5">Web Design</h1>
            </div>
        </div>

        <div class="item">
            <img src="images/animation.png" alt="carousel" width="100%">
            <div class="carousel-caption">
              <h1 class="shadow5">Animation</h1>
            </div>
        </div>

        <div class="item">
            <img src="images/storyboarding.png" alt="carousel" width="100%">
            <div class="carousel-caption">
              <h1 class="shadow5">Storyboarding</h1>
            </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      
  </div>

	<div class="row">
	  	<div class="col-md-8">

    	<h1>The About Me Page. Or Bio.</h1>
					<p> I'm a (self-proclaimed) jack of all trades who enjoys sketching (the cure to all life's ailments), designing of the graphic or web variety (ditto), and the occasional animating. Game design is my true goal in life, but I openly enjoy partaking in the others if the job requires it.</p>
            
        			<p>One of my hobbies is gaming. Nothing is more relaxing than sitting back on a couch in front of a television, controller in hand, and knocking out a few rounds of whatever new game I'm currently playing (although, if you replace couch with lounge chair, controller with a cold beverage, and the television with a pool, that is definitely more relaxing). I'm also a bit of a movie buff, which I blame on all my friends who were film majors at Temple. Now I can tell you who directed what movie, who wrote it, and whether or not there were continuity errors throughout. One of my favoite hobbies is drawing. Give me a sketchbok and a pencil and I can waste an entire day sketching.</p>

		</div>

		<div class="col-md-4">

			<a class="twitter-timeline" href="https://twitter.com/mgmaiale" data-widget-id="601893534308966401">Tweets by @mgmaiale</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<br>
			<br>			

	        <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
	      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
		</div>
		
	</div>

</div>